html {
    scroll-behavior: smooth;
}
body{background-color:rgb(255, 255, 255); }
#header-blue{background-color: rgb(9, 55, 102); padding: 15px 0;}
.header-join-now{background-color: rgb(106, 179, 0);color: rgb(255, 255, 255);
font-weight: 600; font-size: 18px;border-radius: 2px;
padding: 5px 25px;border: 1px solid rgba(0,0,0,.13); text-decoration: none;
    border-bottom: 4px solid rgba(0,0,0,.13);
    box-shadow: inset 0 1px 1px 0 rgb(255 255 255 / 22%);
}
.header-join-now:hover{color: rgb(255, 255, 255); text-decoration:none;box-shadow: inset 0 2px 2px 0 rgb(255 255 255 / 22%), 0 233px 233px 0 rgb(255 255 255 / 12%) inset}
.bgNoRepeat {
    background-repeat: no-repeat!important;
}.border3px {
     background-position-y: -3px;
 }
.lh4 {
    line-height: 1.3em;
}.lh2 {
    line-height: 1.5em;
}
.padding0 {
    padding: 0px!important;
}
.padding5 {
    padding: 5px!important;
}
.padding20 {
    padding:20px!important;
}
.de-image-block img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.elHeadline {
    margin-bottom: 0;
    padding: 0;
}
.deCapitalize {
    text-transform: capitalize;
}
.padding20-bottom {
    padding-bottom: 20px;
}

.padding20-top {
    padding-top: 20px;
}
.borderSolid.border3px {
    border-width: 3px;
    border-style: solid;
}
.bgNoRepeat {
    background-repeat: no-repeat!important;
}
.border3px {
    background-position-y: -3px;
}
.noBorder {
    border: none!important;
}
.radius0 {
    border-radius: 0;
}
.padding40H {
    padding-left: 0;
    padding-right: 0;
}
.radius10{-webkit-border-radius: 10px !important; -moz-border-radius: 10px !important;
    border-radius: 10px !important;}

.top-radius10{-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}

.bottom-radius10{-webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;}
.shadow10{-webkit-box-shadow:0 1px 5px rgba(0,0,0,.1);-moz-box-shadow:0 1px 5px rgba(0,0,0,.1);box-shadow:0 1px 5px rgba(0,0,0,.1)}.shadow20{-webkit-box-shadow:0 1px 5px rgba(0,0,0,.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,.2);box-shadow:0 1px 5px rgba(0,0,0,.2)}.shadow30{-webkit-box-shadow:0 2px 5px 2px rgba(0,0,0,.3);-moz-box-shadow:0 2px 5px 2px rgba(0,0,0,.3);box-shadow:0 2px 5px 2px rgba(0,0,0,.3)}.shadow40{-webkit-box-shadow:0 2px 5px 2px rgba(0,0,0,.4);-moz-box-shadow:0 2px 5px 2px rgba(0,0,0,.4);box-shadow:0 2px 5px 2px rgba(0,0,0,.4)}.shadow5inner{-webkit-box-shadow:0 1px 3px rgba(0,0,0,.05) inset;-moz-box-shadow:0 1px 3px rgba(0,0,0,.05) inset;box-shadow:0 1px 3px rgba(0,0,0,.05) inset}.shadow10inner{-webkit-box-shadow:0 1px 5px rgba(0,0,0,.1) inset;-moz-box-shadow:0 1px 5px rgba(0,0,0,.1) inset;box-shadow:0 1px 5px rgba(0,0,0,.1) inset}.shadow20inner{-webkit-box-shadow:0 1px 5px rgba(0,0,0,.2) inset;-moz-box-shadow:0 1px 5px rgba(0,0,0,.2) inset;box-shadow:0 1px 5px rgba(0,0,0,.2) inset}.shadow30inner{-webkit-box-shadow:0 2px 5px 2px rgba(0,0,0,.3) inset;-moz-box-shadow:0 2px 5px 2px rgba(0,0,0,.3) inset;box-shadow:0 2px 5px 2px rgba(0,0,0,.3) inset}.shadow40inner{-webkit-box-shadow:0 2px 5px 2px rgba(0,0,0,.4) inset;-moz-box-shadow:0 2px 5px 2px rgba(0,0,0,.4) inset;box-shadow:0 2px 5px 2px rgba(0,0,0,.4) inset}
.imgRoundCorners{border-radius:5px}
.border1px{background-position-y:-1px}
.elButtonShadowN1 {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
}
.elBTN_b_1 {
    border: 1px solid rgba(0,0,0,.2);
}

.elButtonCorner3 {
    border-radius: 3px;
}
.elBtnHP_25 {
    padding-left: 25px!important;
    padding-right: 25px!important;
}
.elBtnVP_15 {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.main_header{background-color: rgb(9, 55, 102);
    box-shadow: 0 1px 7px 0 rgb(22 55 89);}
.main_body{background-image: none;background-color: #133469}
.main_body_mobile{background-image: none;background-color: #133469}
.banner-form figure{padding-top: 15px;}
.section-1{    padding-top: 40px;
    padding-bottom: 40px;}
.section-1-heading-box{margin-top: 0; outline: none; cursor: pointer; background-color: rgb(228, 59, 44);}

.section-1-heading-box h2{text-align: center; font-size: 22px; color: rgb(255, 255, 255); background-color: rgb(205, 0, 0);}

.section-1-heading-box-2{margin-top: 10px; outline: none; cursor: pointer;}
.section-1-heading-box-2 h1{text-align: center; font-size: 24px; color: rgb(45, 45, 45);}
.section-1-heading-box-3 h1{text-align: center; font-size: 36px; color: rgb(205, 0, 0); font-weight: 700}

#tmp_image-11314{margin-top: 35px; outline: none; cursor: pointer;}
.tmp_txt-11314{text-align: left; font-size: 20px; color: rgb(45, 45, 45);}
.tmp_txt-11314 div{}
#tmp_headline1-43812{margin-top: 30px; outline: none; cursor: pointer;}
#tmp_headline1-43812 h1{text-align: center; font-size: 34px; color: rgb(0, 0, 0);}
.section--78111{ padding-top: 10px;padding-bottom:10px;background-color: rgb(0, 117, 178); color: #ffffff; margin-bottom: 15px;}
.section--78111 h1{text-align: center; font-size: 36px;}
.section--78111 h2{text-align: center; font-size: 28px; color: rgb(185, 232, 129);}
#section-3{margin-bottom: 30px;}
#headline-34062{text-align: left; font-size: 20px; color: rgb(45, 45, 45);}
#section-4{margin-bottom: 30px;}
#section-5{margin-bottom: 30px;}
.headline-34062{text-align: center; font-size: 28px; color: rgb(205, 0, 0);}
#headline-62193{margin-top: 30px; outline: none; cursor: pointer;}
#headline-62193 h1{text-align: center; font-size: 28px; color: rgb(0, 0, 0);}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
i{font-style: italic !important;}
#row--39572{padding: 20px 90px; margin: 0;}
#tmp_list-91577{}
#tmp_list-91577 ul{list-style: none;}
#tmp_list-91577 ul li{font-size: 17px; margin-top: 15px;
    padding: 5px 0 5px 30px; background: url(../new-images/cross-red.png) no-repeat 0 7px;
}
.headline-34066{margin-top: 25px; border-radius: 10px; text-align: center; font-size: 30px;
    color: rgb(45, 45, 45); background-color: rgb(255, 227, 0); padding:16px}

.bundle-section{padding-top: 20px;padding-bottom: 20px;background-color: rgb(242, 242, 242);}
.img-inline{ display: inline !important;}
.bunle-img-box{text-align: center; margin-bottom:25px;}
.mb-0{margin-bottom: 0 !important;}
.div-20{text-align: left; font-size: 20px; color: rgb(45, 45, 45);}
.div-18{text-align: left; font-size: 18px; color: rgb(45, 45, 45);}
.tmp_list-55587{margin-top: 30px; outline: none; cursor: pointer; margin-left: 5px}
.tmp_list-55587 ul{list-style: none;}
.tmp_list-55587 ul li{font-size: 17px; margin-top: 15px; padding: 5px 0 5px 35px; background: url(../new-images/green-check.png) no-repeat 0 9px;
border-bottom: 1px dotted rgb(212, 212, 212); padding-bottom: 20px; }
#row--15008-136{padding-top: 20px; padding-bottom: 20px; margin: 0; background-color: rgb(255, 255, 255);}
#headline-58644{text-align: center; font-size: 30px; color: rgb(45, 45, 45);}
#headline-58644 h4{color:rgb(66, 185, 159);}
.tmp_image-96044{margin-top: 10px; outline: none; cursor: pointer;}
#headline-94452{margin-top: 20px; outline: none; cursor: pointer;}
#headline-94452 h3{text-align: center; font-size: 30px; color: rgb(45, 45, 45);}
#headline-88666 h5{text-align: center; font-size: 22px; color: rgb(45, 45, 45);}
.button-21366-142{margin-top: 10px; outline: none; cursor: pointer;}
.button-21366-142 a,.button-21366-142 button{color: black; background: rgb(253, 192, 84);
    font-size: 26px; text-align: center; display: block; padding: 15px 25px;}
.button-21366-142 a:hover,.button-21366-142 button:hover{text-decoration: none;box-shadow: inset 0 2px 2px 0 rgba(255,255,255,.22), 0 233px 233px 0 rgba(255,255,255,.12) inset;
}
.button-21366-142 a span{display: block}
#headline-72739-154{margin-top: 35px; outline: none; cursor: pointer;}
#row--15008-136-147{padding: 15px 0 20px; margin: 0; outline: none; background-color: rgb(255, 255, 255);}
.headline-41593-142{margin-top: 0; outline: none; cursor: pointer; background-color: rgb(205, 0, 0);}
.headline-41593-142 h2{text-align: center; font-size: 28px; color: rgb(255, 255, 255); background-color: rgb(205, 0, 0);}
.tmp_featureimage-12389{margin-top: 5px; outline: none; cursor: pointer;}
.elScreenshot_text_padding{padding: 0 10px}
#headline-23859-114{margin-top: 30px; outline: none; cursor: pointer; background-color: rgb(228, 59, 44);}
#headline-23859-114 h2{text-align: center; font-size: 34px; color: rgb(255, 255, 255); background-color: rgb(205, 0, 0);}
.elDivider{padding:15px; display: block;border-color: rgb(212, 212, 212);    width: 100%;
    min-height: 1px;
    margin: 0;border-bottom: 1px dotted; }
#row--15008-136-186{padding-top: 0; padding-bottom: 20px; margin: 0; outline: none; background-color: rgb(255, 255, 255);}
.headline-94452-159 h2{text-align: center; font-size: 22px; color: rgb(45, 45, 45);}
.get-instant-offer{text-align: center; font-size: 22px; color: rgb(0, 117, 178);}
.customer-feedback{background: rgb(0, 117, 178); padding-top:20px; padding-bottom: 20px;}
.customer-feedback h1{font-size: 36px;color: rgb(255, 255, 255);    line-height: 1.3em; text-transform: capitalize}
.width-500{width:500px;}
.testimonial-box{margin: 0; padding: 10px;}
.cf-funnel{font-family:  'Lato', Helvetica, sans-serif !important}
.footer-section{font-family:  'Lato', Helvetica, sans-serif !important;background: rgb(28, 33, 34); padding-bottom: 30px; padding-top: 30px; margin-top: 0;color: rgb(182, 182, 182); font-size: 16px;}
.footer-container{padding-top: 30px; padding-bottom: 30px;}
.footer-links{margin-top: 25px; color: rgb(237, 225, 226)}
.footer-links a{ color: rgb(237, 225, 226); font-size: 18px;}
.footer-copyright { color: rgb(182, 182, 182); font-size: 16px; margin-top: 10px;}
.heading-12123{text-align: center; font-size: 38px; color: rgb(0, 0, 0);}
.heading-9232{text-align: center; font-size: 36px; color: rgb(45, 45, 45);}
.old-price{text-align: center; font-size: 40px; color:rgb(205, 0, 0);}
.elButtonSub{font-size: 18px;}
.md-plr-10{padding: 0 10px}
#checkOutBox{background-color: rgb(255, 255, 255); padding: 15px;}
#main-section{margin-bottom: 0;}
@media screen and (max-width: 767px) {
    .section-1-heading-box-3 h1,.section-1-heading-box-2 h1,#tmp_headline1-43812 h1,.section--78111 h1,
    .headline-34062,.heading-12123,#headline-62193 h1,.heading-9232,#headline-94452 h3,.customer-feedback h1{
        font-size: 22px; line-height: normal;
    }
    .section--78111 h2,.headline-34066{font-size: 20px; line-height: normal}
    #row--39572{padding: 10px 0;}
    .old-price{font-size: 24px;}
    .get-instant-offer{ font-size: 18px;}
    .button-21366-142 a, .button-21366-142 button{font-size: 12px;font-weight: 600;padding: 5px 5px;}
    .elButtonSub{font-size: 10px; font-weight: 400}
    #row--15008-136-147{}
    .md-plr-10{padding: 0 1px}
    .headline-41593-142 h2{font-size: 18px;}
    #headline-23859-114 h2{font-size: 18px; padding: 4px 0;}
    .tmp_list-55587 ul,#tmp_list-91577 ul{padding-left: 0; padding-right: 0;}
}
@media screen and (max-width: 450px) {}
