body{
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: #333;
    background: #eeeeee;
}
.wrapper{background:#ffffff; min-height: 500px; max-width: 990px !important;}
#header-section{}
.header{}
.secure-checkout{padding: 10px 10px 10px 20px; background: #eeeeee; border-radius: 4px; text-align: center;
margin-top: 5px;}
.secure-checkout h3{display: inline; font-size: 22px; font-weight: 400;}
.secure-checkout h3 i{font-size: 20px;}
#main-section{margin:15px auto; padding: 5px;}
#main-section h1{font-size: 18px; font-weight: 500; border-bottom: 1px solid #eee; padding-bottom: 5px; line-height: 1.5}
#main-section label{display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700; color: #333;}
.we-accept{position: absolute; right: 0; top: -69px;}
.left-month {display: inline-block;width: 47%;}
.ex-date-slash {padding: 0 5px;font-size: 12px;color:#2563cb;font-weight: 300;}
.mid-year {display: inline-block;width: 47%;}
.cvv-help{padding: 0;margin: 0 2px;font-size: 15px;color: #5bc0de!important;}
#main-section h2{margin:10px 0;font-size:20px; font-weight:700;line-height: 1.5}
.creditsecrets-bundle{}
.digital-only{color: #777;font-size: 12px;font-weight: 700;margin-top: 10px;}
.bottom-border{border-bottom: 1px solid #eee !important;padding-bottom: 5px;}
.normal-price{color: red; font-size: 20px; font-weight: 700;}
.sale-price{color:#333; font-size: 20px; font-weight: 700;}
.discount-applied{color:#28a745; font-size: 14px; font-weight: 600; position: absolute; right:35px; top: 5px;}
.audiobook_box {background: #fbf9e2;border: 2px dashed #1B2735;padding: 4px;}
.audiobook_heading {background: #1B2735; padding: 10px;text-align: center}
.audiobook_heading span {color: #fff;font-size: 18px;font-weight: 700}
.audiobook_description {color: #000;margin: 10px 0;line-height: 18px;font-size: 13px}
.hidden{display: none}
#main-section button{border: none;}
.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}@keyframes pulse{0%{transform:scale(.9);opacity:.9}50%{transform:scale(1);opacity:1}100%{transform:scale(.9);opacity:.9}}@-webkit-keyframes pulse{0%{-webkit-transform:scale(.95);opacity:.7}50%{-webkit-transform:scale(1);opacity:1}100%{-webkit-transform:scale(.95);opacity:.7}}

#footer-section{margin: 15px 0; padding: 15px 5px;}

.cb-guarantee-content{border: 1px solid #ddd; padding:10px; margin-top:4px; border-radius: 4px;}
.cb-guarantee-content h4{font-size: 18px; line-height: 1.5; font-weight: 500;}
.tos{margin:15px 0; font-size: 12px;}
.tos h5{font-weight:700; font-size: 16px;}
.footer_bottom{/*background: #262626;*/ padding:1px 15px 10px; /*border-radius: 4px;*/}
.footer_bottom .copyright{/*color: gray;*/ font-size: 12px;}
.footer_bottom a{/*color: gray; */font-size: 12px;}
.footer-container{max-width: 990px !important;}
#countdown-timer-container{background: rgb(205, 0, 0); border-radius: 4px; padding:2px; margin: 6px 0;font-size:30px; text-align: center; color: black;}
#countdown-timer-header{padding: 10px 5px 5px; font-size:26px; text-align: center; color: black;}
#countdown-timer-header p{margin: 0 0 3px}
.countdown-timer{padding: 10px; width: 50px;border-radius: 3px;background: #fff;display: inline-block;
    color: #000;font-weight: 700; font-size:20px;}
#countdown-timer-content{font-family: sans-serif;color: #fff;
    font-weight: 100;text-align: center;font-size: 30px;border-radius: 4px;}
#countdown-timer-content>div{display: inline-block; margin-left: 10px;}
.countdown-timer-subtext{padding-top:1px;font-size: 12px;}
.one_time_offer { color: #de3d06; font-weight: 700; text-transform: uppercase}
#terms ul {font-size: 12px;color: #5e5e5e; padding: 0 15px;}
#terms ul li {list-style-type: circle;}
.terms-title{font-size: 15px; font-weight: 700;}
.summery-txt{font-size: .8em;font-weight: 400;color: #666;}

.payButton{background-color:#e4202f;height: 50px;
    padding: 7px 15px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 20px;display: block;
    width: 100%;}
.payButton:hover{background:#d41d2a;}

.cs-float-left{float: left; width: 49%}
.cs-float-right{float: right; width: 49%}

.cs-show-on-desktop{display: block;}
.cs-show-on-mobile{display: none;}
@media screen and (min-width: 1200px) {


}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    #countdown-timer-header{
        font-size: 16px !important;padding: 5px 5px 5px !important;
    }
    #countdown-timer-header p{padding: 0 !important; margin: 0}
    .countdown-timer{width:50px; padding: 10px; font-size:20px;}
    .countdown-timer-subtext{font-size:12px; text-transform: capitalize; padding-top: 2px}
    .cs-float-left{float: none; width: 99%}
    .cs-float-right{float: none; width: 99%}
    .cs-show-on-desktop{display: none;}
    .cs-show-on-mobile{display: block;}
}
@media screen and (max-width: 450px) {
    #countdown-timer-header{
        font-size: 16px !important;padding: 5px 5px 5px !important;
    }
    #countdown-timer-header p{padding: 0 !important;}
    .countdown-timer{width:50px; padding: 10px; font-size:20px;}
}


input[type="checkbox"]:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 .25em 0 0;

    font: 16px/1em sans-serif;

    content: "";
    vertical-align: top;
}
input[type="checkbox"]:checked :before {
    content: "";
    text-align: center;

    color: #333;
    background: blue;
}
input[type="checkbox"]:checked :after {
    font-weight: bold;
}



