/* inter google font  */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.section1{
    background: #000000;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top:30px;
    border-top: 3px solid #BB2A26;
}

.section1 .video{
    width: 50% !important;
    text-align: center;
}

.mobile-video{
    padding: 0px 10px !important;
}

.raise-btn a{
    text-decoration: none !important;
    color: #fff !important;
    background-color: #BB2A26;
    display: inline-block;
    padding: 6px 50px;
    border-radius: 5px;
    box-shadow: 0 8px 22px 0 #fff, 0 6px 20px 0 #BB2A26;
}

.raise-btn a p{
    margin-bottom: 0px !important;
}

.font-size-27{
    font-size: 27px;
    font-weight: bold;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-size-38{
    font-size: 38px;
    line-height: normal;
    font-weight: bold;
}

.quickstart-description{
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    padding-top: 70px;
    letter-spacing: 1.2px;
}

.credit-secrets-ul ul{
    list-style-type: none;
    padding: 0;
}

.credit-secrets-ul ul li{
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
    background: url("../icons/Tick.svg") no-repeat;
    padding-left: 30px;
    background-size: 22px 22px;
}

hr{
    color: #000;
}

.quickstart-heading{
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    line-height: normal;
}

.container{
    max-width: 980px;
}

.section2{
    background: url(../images/section2.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.section2 .credit-secrets-ul{
    background: #EEF5F9;
    padding: 40px;
    border-radius: 20px;
    margin: 40px 40px 0px;
}

.section2-mobile{
    background: url(../mobile-img/section2-mobile.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.section2-mobile .credit-secrets-ul{
    background: #EEF5F9;
    padding: 40px;
    border-radius: 20px;
    margin: 40px 40px 0px;
}

.smart-money{
    padding-top: 80px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-18{
    font-size: 18px;
}

.trent-B{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 440px;
    height: 900px;
    margin-bottom: 30px;
}

.trent-B img{
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px;
}

.trent-b-height{
    /* height: 365px; */
    padding: 0px 30px;
}

.section4-support-ancher a{
    text-decoration: underline;
    color: #BB2A26;
}

.section4{
    background-color: #EDF4F8;
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
}

.footer{
    background-color: #000000;
    color: #646464;
    font-size: 15px;
}

.cABtmV{
    display: none !important;
}
/* media query  */

@media screen and (max-width:1200px) {

    .raise-img img{
        width: 90%;
    }
}

@media screen and (max-width:1100px) {

    .raise-img img{
        width: 90%;
    }
    
    .container {
        max-width: 830px;
    }

    .trent-B{
        width: 100%;
    }
}

@media screen and (max-width:998px) {
    .quickstart-description{
        letter-spacing: 0px;
        padding-top: 40px;
    }

    .quickstart-heading{
        font-size: 30px;
    }
}

@media screen and (max-width:900px) {

    .container {
        max-width: 700px;
    }

    .quick-start img{
        width: 90%;
    }

    .trent-b-height {
        /* height: 480px !important;    */
        padding: 0px 15px; 
    }

}

@media screen and (max-width:800px) {

    .container {
        max-width: 650px;
    }
}

@media screen and (max-width:767px) {
    .trent-B{
        height: 100%;
        width: 100%;
    }

    .section3 .pb{
        margin-bottom: 30px;
    }

    .section1 .heading{
        font-size: 14px;
        padding: 0px 30px;
    }

    .font-size-38,
    .font-size-27{
        font-size: 22px;
    }

    .font-size-20{
        font-size: 16px;
    }
    
    .credit-secrets-ul img{
        width: 20px;
    }

    .font-size-27,
    .quickstart-heading{
        font-size: 20px;
        padding: 0px 20px;
    }

    .quick-start img{
        margin-top: 10px;
        width: 50%;
    }

    .quickstart-description{
        padding: 40px 40px 0px;
    }

    .section2-mobile .credit-secrets-ul{
        padding: 40px 40px 20px 20px;
    }

    .smart-money{
        padding-top: 0px;
    }

    .trent-m-height{
        padding: 0px 20px;
    }

    .badge{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
}

@media screen and (max-width:670px) {

    .container {
        max-width: 550px;
    }

    .raise-btn a{
        padding: 6px 26px;
    }
}

@media screen and (max-width:567px) {

    .container {
        max-width: 90%;
    }

    .section2-mobile .credit-secrets-ul{
        margin: 20px 20px 0px;
        padding:20px;
    }
}

@media screen and (max-width:440px) {
    #vidalytics_embed_NVghPqQ7aWYVodsw {
        padding-top: 175px !important;
    }

    .font-12,
    .font-14 {
        font-size: 10px;
    }

    .font-size-27{
        font-size: 19px;
    }
}

@media screen and (min-width:538px) and (max-width:767px) {
    .section2-mobile {
        background-size: 100% 15%;
    }
}