/* inter google font  */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.section1{
    background: #000000;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top:30px;
}

.section1 .video{
    width: 50% !important;
    text-align: center;
}

#vidalytics_embed_NVghPqQ7aWYVodsw {
    padding-top: 400px !important;
}

.raise-btn a{
    text-decoration: none !important;
    color: #fff !important;
    background-color: #BB2A26;
    display: inline-block;
    padding: 6px 50px;
    border-radius: 5px;
}

.raise-btn a p{
    margin-bottom: 0px !important;
}

.raise-btn .title1{
    font-size: 27px;
    font-weight: bold;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-size-38{
    font-size: 38px;
    line-height: normal;
    font-weight: bold;
}

.credit-secrets-ul ul{
    list-style-type: none;
    padding: 0;
}

.credit-secrets-ul ul li{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

hr{
    color: #000;
}