/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
@import url(../fonts/robert.css);
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roobert";
  font-weight: 400;
  overflow-x: hidden !important; }

:root {
  --red: #d71616;
  --red-dark: #320c0c;
  --dark: #120A0B;
  --gray: #CCCCCC;
  --black1: #101010;
  --black2: #666666;
  --stage-circle-size: 10px;
  --stage-circle-border-size: 2px; }

/* reset, root - END */
/* helper , base classes */
.text-clr-red {
  color: var(--red); }

.text-clr-redDark {
  color: var(--red-dark); }

.text-clr-gray {
  color: var(--gray); }

.red-bg {
  background: var(--red); }

.redDark-bg {
  background: var(--red-dark); }

.dark-bg {
  background: var(--dark); }

.fs-44 {
  font-size: 44px; }
  @media (max-width: 991px) {
    .fs-44 {
      font-size: 28px; } }

.fs-36 {
  font-size: 36px; }

.fs-24 {
  font-size: 24px; }
  @media (max-width: 991px) {
    .fs-24 {
      font-size: 16px; } }

.fs-20 {
  font-size: 20px; }
  @media (max-width: 991px) {
    .fs-20 {
      font-size: 16px; } }

.fs-18 {
  font-size: 18px; }
  @media (max-width: 991px) {
    .fs-18 {
      font-size: 14px; } }

.fs-14 {
  font-size: 14px; }

.lh-53 {
  line-height: 53px; }
  @media (max-width: 991px) {
    .lh-53 {
      line-height: 36px; } }

.lh-43 {
  line-height: 43px; }

.lh-28 {
  line-height: 28px; }
  @media (max-width: 991px) {
    .lh-28 {
      line-height: 22px; } }

.lh-24 {
  line-height: 24px; }

.lh-29 {
  line-height: 29px; }

.lh-20 {
  line-height: 20px; }

.lh-17 {
  line-height: 17px; }

.fw-normal {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-semibold {
  font-weight: 600; }

.fw-black {
  font-weight: 900; }

.radius-8 {
  border-radius: 8px; }

.radius-16 {
  border-radius: 16px; }

.radius-20 {
  border-radius: 20px; }

.section-padding {
  padding: 50px 0; }
  @media (max-width: 991px) {
    .section-padding {
      padding: 40px 0; } }

.hover-red {
  transition: all .2s linear; }
  .hover-red:hover {
    color: var(--red) !important; }

.hover-white {
  transition: all .2s linear; }
  .hover-white:hover {
    color: #ffffff !important; }

/* asraful  - start*/
#content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED; }

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED; }

.container2 {
  max-width: 655px;
  margin: 0 auto;
  padding: 20px;
  width: 100%; }

.text-clr-black1 {
  color: var(--black1); }

.text-clr-black2 {
  color: var(--black2); }

.fs-36 {
  font-size: 36px;
  line-height: 48px; }
  @media (max-width: 480px) {
    .fs-36 {
      font-size: 30px;
      line-height: 37px; } }

.fs-30 {
  font-size: 30px;
  line-height: 48px; }
  @media (max-width: 480px) {
    .fs-30 {
      font-size: 25px;
      line-height: 40px; } }

.fs-18 {
  font-size: 18px;
  line-height: 26px; }

.fw-medium {
  font-weight: 500; }

.is-radius-8 {
  border-radius: 8px; }

.bg-red {
  background-color: var(--red); }

/* asraful  - END*/
/* helper , base classes  - END*/
/*--- Header / Start ---*/
.header-area {
  background: var(--red-dark);
  padding: 11px 0; }
  .header-area .logo {
    z-index: 9;
    padding-top: 10px;
    margin-bottom: -10px; }
    .header-area .logo::before {
      position: absolute;
      content: "";
      background-color: var(--red-dark);
      width: 268px;
      height: 36px;
      z-index: -9;
      border-radius: 20px;
      left: calc(50% - 134px);
      top: 20px; }

/*--- Header / End ---*/
/*--- hero-video-area / Start ---*/
.hero-video-area {
  padding: 80px 0 50px 0; }
  @media (max-width: 991px) {
    .hero-video-area {
      padding: 40px 0 40px 0; } }
  .hero-video-area .sub-heading {
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 10px; }
  .hero-video-area .hero-heading {
    max-width: 918px;
    margin: 0 auto; }
    .hero-video-area .hero-heading::before {
      position: absolute;
      content: "";
      background: url(../img/heading-top-shape.svg);
      width: 30px;
      height: 33px;
      background-repeat: no-repeat;
      background-size: cover;
      top: -16px;
      left: 0; }
    .hero-video-area .hero-heading .video-area {
      right: -150px;
      bottom: -40px; }
  .hero-video-area .video-section {
    padding: 40px 0 30px 0; }
    @media (max-width: 991px) {
      .hero-video-area .video-section {
        padding: 30px 0 0 0; } }
    .hero-video-area .video-section .videoCoverImage {
      max-width: 981px;
      width: 100%;
      margin: 0 auto; }
      .hero-video-area .video-section .videoCoverImage .thumb {
        max-width: 981px;
        width: 100%; }
  .hero-video-area .section-heading {
    max-width: 560px;
    margin: 0 auto;
    padding: 10px 0 50px 0; }
    @media (max-width: 991px) {
      .hero-video-area .section-heading {
        padding: 40px 0; } }
    .hero-video-area .section-heading::after {
      position: absolute;
      content: "";
      background: url(../img/stars.svg);
      bottom: 0px;
      left: calc(50% - 60px);
      background-repeat: no-repeat;
      background-size: cover;
      width: 120px;
      height: 35px;
      z-index: 99999; }
  .hero-video-area .content-box {
    max-width: 1050px;
    padding: 30px;
    background: #2C1515;
    margin: 0 auto;
    border: 2px solid #472627;
    border-radius: 2px; }
    @media (max-width: 991px) {
      .hero-video-area .content-box {
        padding: 20px; }
        .hero-video-area .content-box .content-box-inner {
          font-size: 14px !important;
          line-height: 22px !important; } }
    .hero-video-area .content-box::after {
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, rgba(38, 132, 255, 0) 0.46%, rgba(38, 132, 255, 0.2) 22.4%, #FF0000 51.32%, rgba(38, 132, 255, 0.2) 79.17%, rgba(38, 132, 255, 0) 100%);
      content: "";
      top: -2px;
      left: 0; }
    .hero-video-area .content-box::before {
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, rgba(38, 132, 255, 0) 0.46%, rgba(38, 132, 255, 0.2) 22.4%, #FF0000 51.32%, rgba(38, 132, 255, 0.2) 79.17%, rgba(38, 132, 255, 0) 100%);
      content: "";
      bottom: -2px;
      left: 0; }
  .hero-video-area .fill-button {
    margin-top: 40px; }
    .hero-video-area .fill-button a {
      padding: 17px 0;
      position: relative;
      max-width: 410px;
      width: 100%; }
      .hero-video-area .fill-button a .continue-btntext {
        padding-right: 30px; }
      .hero-video-area .fill-button a img {
        transition: all .2s linear;
        position: absolute;
        right: 32%;
        top: calc(50% - 12px); }
      .hero-video-area .fill-button a:hover img {
        right: 30%; }

/*--- hero-video-area / End ---*/
/*--- Testimonials / Start ---*/
.testimonial-area {
  background: linear-gradient(180deg, #260505 0%, #120606 100%); }
  .testimonial-area .testimonial-slider-wrap {
    margin-top: 30px; }
    @media (max-width: 991px) {
      .testimonial-area .testimonial-slider-wrap {
        margin-top: 20px; } }
    .testimonial-area .testimonial-slider-wrap .owl-item {
      background: #2F1F1F;
      padding: 40px;
      margin: 30px 0;
      opacity: 0.3;
      transition: all .1s linear;
      border-radius: 16px !important; }
      .testimonial-area .testimonial-slider-wrap .owl-item.active {
        opacity: 1; }
      .testimonial-area .testimonial-slider-wrap .owl-item::after {
        position: absolute;
        content: "";
        left: 40px;
        top: -20px;
        background: url(../img/review-quote.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px; }
    .testimonial-area .testimonial-slider-wrap .owl-dots button {
      width: 20px; }
      .testimonial-area .testimonial-slider-wrap .owl-dots button:focus {
        outline: none !important; }
      .testimonial-area .testimonial-slider-wrap .owl-dots button.active span {
        background: var(--red) !important; }
      .testimonial-area .testimonial-slider-wrap .owl-dots button span {
        background: #302424; }

@media (max-width: 776px) {
  .owl-stage-outer {
    max-height: 300px !important; } }
/*--- Testimonials / End ---*/
/*--- paragraph content / Start ---*/
.paragraph-content {
  background: #120606;
  padding: 50px 0;
  border-top: 1px solid rgba(102, 102, 102, 0.3); }
  @media (max-width: 991px) {
    .paragraph-content {
      padding: 40px 0; } }

/*--- paragraph content / End ---*/
/*--- Footer area / Start ---*/
.footer-area {
  padding: 14px 0; }

/*--- Footer area / End ---*/
/*--- Responsive start / End ---*/
@media (max-width: 991px) {
  .owl-stage {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
@media (max-width: 576px) {
  .owl-stage {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
/*--- Responsive start / End ---*/
/* asraful  - start*/
#content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED; }

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDEDED; }

.container2 {
  max-width: 655px;
  margin: 0 auto;
  padding: 20px;
  width: 100%; }

.text-clr-black1 {
  color: var(--black1); }

.text-clr-black2 {
  color: var(--black2); }

.fs-36 {
  font-size: 36px;
  line-height: 48px; }
  @media (max-width: 480px) {
    .fs-36 {
      font-size: 30px;
      line-height: 37px; } }

.fs-30 {
  font-size: 30px;
  line-height: 48px; }
  @media (max-width: 480px) {
    .fs-30 {
      font-size: 25px;
      line-height: 40px; } }

.fs-18 {
  font-size: 18px;
  line-height: 26px; }

.fw-medium {
  font-weight: 500; }

.is-radius-8 {
  border-radius: 8px; }

.bg-red {
  background-color: #D71616; }

/* asraful  - END*/
/*--- asraful / start ---*/
.step-container {
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px; }

.step-top {
  background: #209dd2;
  border-radius: 12px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: left 10px center; }

/* .stage-content .stage-content-item.active {} You can write what do you want to do when stage active */
/* color settings */
.stage.stage-info .stage-item.active:after,
.stage.stage-info .stage-item.activated:after {
  background-color: #fff; }

.stage-next-btn {
  background: #38B64A;
  border-radius: 8px;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  border-color: #38B64A !important; }
  @media (max-width: 480px) {
    .stage-next-btn {
      height: 40px;
      font-weight: 700;
      font-size: 16px; } }

.stage-back-btn {
  border: 2px solid #D71616;
  background: #FFFFFF;
  border-radius: 8px;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  color: #D71616; }
  @media (max-width: 480px) {
    .stage-back-btn {
      height: 40px;
      font-weight: 700;
      font-size: 16px; } }

.congratulation-bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 140px;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .congratulation-bg h2 {
    color: #fff; }
  .congratulation-bg p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D2EBF6; }
  @media (max-width: 576px) {
    .congratulation-bg {
      background-image: none !important; } }

.form-control {
  height: 58px;
  border: 2px solid #EEEEEE;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z' stroke='%23666666' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 9L13.87 11.5C12.84 12.32 11.15 12.32 10.12 11.5L7 9' stroke='%23666666' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 20px center;
  padding-left: 60px; }

.step-steps {
  overflow-x: hidden; }
  .step-steps > li {
    --border-line-color: #CBE6FF;
    --step-li-width: 60px;
    padding: 0;
    margin: 0;
    height: 3px;
    border-radius: 16px;
    flex: initial !important;
    text-align: center;
    position: relative;
    z-index: 10;
    border: 0; }
    .step-steps > li.done {
      background-color: #fff !important; }
    .step-steps > li.active {
      background-color: #fff !important; }
    @media (max-width: 576px) {
      .step-steps > li {
        --step-li-width: 35px; } }
    .step-steps > li > .border-line {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      left: 100%;
      width: var(--perStepWidth);
      height: 4px;
      background-color: var(--border-line-color);
      z-index: -10;
      cursor: default; }
      @media (max-width: 576px) {
        .step-steps > li > .border-line {
          top: 18px; } }
    .step-steps > li > .stepIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--step-li-width);
      border-radius: 100%;
      color: #C6CDD8;
      font-size: 30px; }
      @media (max-width: 576px) {
        .step-steps > li > .stepIcon {
          padding: 5px;
          border-width: 2px !important;
          font-size: 18px; } }
    .step-steps > li.active, .step-steps > li.done {
      --border-line-color: blue; }
      .step-steps > li.active > .stepIcon > i, .step-steps > li.done > .stepIcon > i {
        color: #fff; }

/*---asraful / End ---*/
.form-builder-details {
  background-color: #EDEDED;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.ideal-card-wrapper {
  max-width: 655px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px; }

.step-border {
  width: 33%;
  height: 4px;
  background-color: #63BAE0; }

@media (max-width: 480px) {
  .stage-next-btn svg * {
    width: 20px !important;
    height: 20px !important; } }
@media (max-width: 991px) {
  .firstStepHeading {
    font-size: 24px !important;
    line-height: 34px !important; }

  .firstStepContent {
    font-size: 16px !important;
    line-height: 24px !important; }

  .circleHeadig {
    font-size: 22px !important;
    line-height: 30px !important; } }
/*---asraful / End ---*/

/*# sourceMappingURL=style.css.map */
